<% provide(:title, "Edit Damage Type") %>
<% provide(:button_text, "Update Damage Type") %>
<% provide(:url_path, damage_type_path(@damage_type)) %>

<h1>Update Damage Type</h1>

<div class="row justify-content-center">
  <%= render 'form' %>
</div>