<% provide(:title, "Damage Types") %>

<h1>All Damage Types</h1>

<%= render 'layouts/viewable_key' %>

<%= link_to "Create a new damage type", new_user_damage_type_path(current_user) %>

<div class="accordion" id="accordionExample">
  <%= render @damage_types %>
</div>