<% provide(:title, "New Damage Type") %>
<% provide(:button_text, "Save Damage Type") %>
<% provide(:url_path, user_damage_types_path) %>

<h1>New Damage Type</h1>

<div class="row justify-content-center">
  <%= render 'form' %>
</div>