<%= provide(:title, "New Source") %>
<% provide(:url_path, sources_path) %>
<% provide(:button_text, "Create New Source") %>

<h1>New Source</h1>
<p>Note: You can also add new sources when you are creating items!</p>

<div class="row justify-content-center">
  <%= render "form" %>
</div>
