<% provide(:title, "New Weapon Feat") %>
<% provide(:url_path, weapon_weapon_feats_path(@weapon)) %>
<% provide(:button_text, "Add Weapon Feat") %>

<h1>Add Weapon Feat</h1>

<div class="row justify-content-center">
  <%= render template: "weapon_feats/_form" %>
</div>
