<div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" 
              type="button" 
              data-toggle="collapse" 
              data-target="#<%= property.name %>" 
              aria-expanded="false" 
              aria-controls="collapseThree">
        <%= property.name.capitalize %>
      </button>
    </h5>
  </div>
  <div id="<%= property.name %>" 
       class="collapse" 
       aria-labelledby="headingThree" 
       data-parent="#accordionExample">
    <div class="card-body">
      <%= property.description %>
    </div>
  </div>
</div>