<% provide(:title, "Edit Property") %>
<% provide(:button_text, "Update Property") %>
<% provide(:url_path, property_path(@property)) %>

<h1>Update Property</h1>

<div class="row justify-content-center">
  <%= render 'form' %>
</div>