<% provide(:title, "Properties") %>

<h1>All Properties</h1>

<%= render 'layouts/viewable_key' %>

<%= link_to "Create a new property", new_user_property_path(current_user) %>

<div class="accordion" id="accordionExample">
  <%= render @properties %>
</div>