<% provide(:title, "All Weapons") %>

<h1>All Weapons</h1>

<%= render 'layouts/viewable_key' %>

<div class="accordion" id="accordionExample">
  <% weapon_categories = %w(simple_melee simple_ranged martial_melee martial_ranged) %>

  <% weapon_categories.each do |category| %>
  <% cat = @weapons.weapon_index(category, current_user) %>
  <% if cat.any? %>
      <h1><%= split_category(category) %></h1>

      <% cat.each do |weapon| %>
        <%= render "weapon", weapon: weapon %>
      <% end %>
    <% end %>
  <% end %>
</div>