<% provide(:title, "New Weapon") %>
<% provide(:url_path, user_weapons_path) %>
<% provide(:button_text, "Create New Weapon") %>

<h1>New Weapon</h1>

<div class="row justify-content-center">
  <%= render "form" %>
</div>