<% provide(:title, "Edit Adventuring Gear") %>
<% provide(:url_path, gear_path(@gear)) %>
<% provide(:button_text, "Edit Adventuring Gear") %>

<h1>Edit Adventure Gear</h1>

<div class="row justify-content-center">
  <%= render "form" %>
</div>
