<% provide(:title, "New Adventure Gear") %>
<% provide(:url_path, user_gears_path) %>
<% provide(:button_text, "Create New Adventure Gear") %>

<h1>New Adventure Gear</h1>

<div class="row justify-content-center">
  <%= render "form" %>
</div>
