@import "abstracts/variables";

.view {
  &__key {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    font-size: 1.5rem;
    & * {
      padding: .6rem 1.6rem;
      border-radius: 2rem;
    }
  }
  &__everyone {
    background: $view_everyone;
  }
  &__personal {
    background: $view_personal;
  }
  &__homebrew {
    background: $view_homebrew;
  }
}