<% provide(:title, "Edit Armor") %>
<% provide(:url_path, armor_path(@armor)) %>
<% provide(:button_text, "Edit Armor") %>

<h1>Edit Armor</h1>

<div class="row justify-content-center">
  <%= render "form" %>
</div>
