<% provide(:title, "New Armor") %>
<% provide(:url_path, user_armors_path) %>
<% provide(:button_text, "Create New Armor") %>

<h1>New Armor</h1>

<div class="row justify-content-center">
  <%= render "form" %>
</div>
