<footer class="footer">
  <p>
    Warlock Mind made with <3 by Kaemon Lovendahl
  </p>
  <p>This website is not produced, endorsed, supported, or affiliated with Wizards of the Coast.</p>
  <nav>
    <ul class="footer__links">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://kaemonlovendahl.herokuapp.com/" target="_blank">My Portfolio</a></li>
    </ul>
  </nav>
</footer>